<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Release Parking Spot</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <div id="reserve-block">
            <!-- Text: Release Parking Spot -->
            <div class="container mt-4" id="edit-content">
                <h4 class="text-center">Release Parking Spot</h4>
            </div>

            <div class="container mt-4">
                <div class="mx-auto" style="max-width: 600px;">
                    <!-- Form Content -->
                        <!-- Spot ID -->
                        <div class="d-flex align-items-center mb-3 w-100">
                            <label for="spot" class="fw-semibold form-label me-2 mb-0" style="width: 150px; text-align: right;">Spot ID :</label>
                            <input type="number" class="form-control w-auto" id="spot" name="spot" value="{{ res.id }}" readonly>
                        </div>

                        <!-- Vehicle Number -->
                        <div class="d-flex align-items-center mb-3 w-100">
                            <label for="vehicle_num" class="fw-semibold form-label me-2 mb-0" style="width: 150px; text-align: right;">Vehicle Number :</label>
                            <input type="text" class="form-control w-auto" id="vehicle_num" name="vehicle_num" value="{{ res.id }}" readonly>
                        </div> 

                        <!-- Parking Time -->
                        <div class="d-flex align-items-center mb-3 w-100">
                            <label for="start_time" class="fw-semibold form-label me-2 mb-0" style="width: 150px; text-align: right;">Parking In Time :</label>
                            <input type="time" class="form-control w-auto" id="start_time" name="start_time" value="{{ res.start_time.strftime('%H:%M') }}" readonly>
                        </div>

                        <!-- Release Time -->
                        <div class="d-flex align-items-center mb-3 w-100">
                            <label for="release_time" class="fw-semibold form-label me-2 mb-0" style="width: 150px; text-align: right;">Parking Out Time :</label>
                            <input type="text" class="form-control w-auto" id="release_time" name="release_time" value="{{ current_time }}" readonly>
                        </div>

                        <!-- Total Cost -->
                        <div class="d-flex align-items-center mb-3 w-100">
                            <label for="cost" class="fw-semibold form-label me-2 mb-0" style="width: 150px; text-align: right;">Total Cost :</label>
                            <input type="number" class="form-control w-auto" id="user" name="user" value="{{ price }}" readonly>
                        </div>

                        <form action="/release/{{user_id}}/{{spot_id}}" method="post">
                            <!-- Buttons -->
                            <div class="d-flex justify-content-center gap-3 mt-3">
                                <button type="submit" class="btn btn-primary">Release</button>
                                <a href="/user/{{user_id}}" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>